<mat-dialog-content>
  <form class="form" [formGroup]="passwordForm" (ngSubmit)="enterPassword()">
    <h1>Join room</h1>
    <mat-form-field class="wide" appearance="fill">
      <mat-label>Room password</mat-label>
      <input
        matInput
        placeholder="Example Best drawers only!!"
        formControlName="password"
        type="password"
      />
      <mat-error *ngIf="errorControl?.['password']?.errors?.['required']">
        Please enter a password.
      </mat-error>
    </mat-form-field>

    <button mat-button type="submit" [disabled]="!passwordForm.valid">
      JOIN
    </button>
    <button mat-button type="button" color="warn" mat-dialog-close>
      CANCEL
    </button>
  </form>
</mat-dialog-content>
