<div class="flexbox">
  <div class="center">
    <table
      mat-table
      [dataSource]="dataSource"
      class="mat-elevation-z8 table margin"
    >
      <button mat-raised-button color="primary">Primary</button>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef class="center-text">
          Player name
        </th>
        <td
          mat-cell
          *matCellDef="let element"
          class="turn center-text"
          [ngClass]="{ turn: element.player.nickname === playerNickname }"
        >
          {{ element.player.nickname }}
        </td>
      </ng-container>
      
      <ng-container matColumnDef="pieces">
        <th mat-header-cell *matHeaderCellDef class="center-text">
          Pieces left
        </th>
        <td
          mat-cell
          *matCellDef="let element"
          class="turn center-text"
          [ngClass]="{ turn: element.player.nickname === playerNickname }"
        >
          {{ element.pieces }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>

  <app-board #board id="board" (moveEvent)="updateTurn($event)"></app-board>

  <div class="center">
    <div class="info"></div>
    <div class="break"></div>
    <div class="dice">
      <div class="center high">{{ roll }}</div>
    </div>
    <div class="break"></div>
    <button
      mat-raised-button
      color="accent"
      class="button"
      *ngIf="room"
      [disabled]="!turn || rolled"
      (click)="rollDice()"
    >
      ROLL
    </button>
    <div class="break"></div>
    <button
      mat-raised-button
      color="accent"
      class="button"
      *ngIf="room"
      [disabled]="!turn || !turnEndable"
      (click)="updateTurn(0)"
    >
      END TURN
    </button>
    <div class="break"></div>
    <div class="info">
      <div *ngIf="room && turn && turnEndable && roll">
        <p>
          {{ roll === 6 ? "You can move a figure out of home." : "" }}
        </p>
        <p>You can move a figure {{ roll }} spaces.</p>
        <p>You can end your turn.</p>
      </div>
    </div>
  </div>
</div>
