<div class="flexbox">
  <div class="center">
    <table
      mat-table
      [dataSource]="dataSource"
      class="mat-elevation-z8 table margin"
    >
      <button mat-raised-button color="primary">Primary</button>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef class="center-text">
          Player name
        </th>
        <td
          mat-cell
          *matCellDef="let element"
          class="auto turn"
          [ngClass]="{ turn: element.player.nickname === playerNickname }"
        >
          {{ element.player.nickname }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>

  <app-board #board id="board" (moveEvent)="updateTurn()"></app-board>

  <div class="center">
    <div class="dice">
      <div class="center high">{{ roll }}</div>
    </div>
    <div class="break"></div>
    <button
      mat-raised-button
      color="accent"
      class="button"
      *ngIf="room"
      [disabled]="!turn || rolled"
      (click)="rollDice()"
    >
      ROLL
    </button>
    <div class="break"></div>
    <button
      mat-raised-button
      color="accent"
      class="button"
      *ngIf="room"
      [disabled]="!turn || !turnEndable"
      (click)="updateTurn()"
    >
      END TURN
    </button>
  </div>
</div>
