<div class="flexbox">
  <h1>Rooms</h1>

  <div class="break"></div>

  <div class="table margin">
    <button
      mat-raised-button
      color="primary"
      class="margin-right"
      (click)="createRoom()"
    >
      CREATE ROOM
    </button>
    <button
      mat-raised-button
      color="accent"
      class="margin-right"
      (click)="refreshRooms()"
    >
      REFRESH ROOMS
    </button>
  </div>
  <div class="break"></div>
  <table
    mat-table
    [dataSource]="dataSource"
    class="mat-elevation-z8 table margin"
  >
    <button mat-raised-button color="primary">Primary</button>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef class="center-text">Room name</th>
      <td mat-cell *matCellDef="let room" class="auto">
        {{ room.title }}
      </td>
    </ng-container>

    <ng-container matColumnDef="players">
      <th mat-header-cell *matHeaderCellDef class="center-text">Players</th>
      <td mat-cell *matCellDef="let room" class="short center-text">
        {{ room.playerList.length }} / 4
      </td>
    </ng-container>

    <ng-container matColumnDef="locked">
      <th mat-header-cell *matHeaderCellDef class="center-text">PASSWORD</th>
      <td mat-cell *matCellDef="let room" class="short center-text">
        <mat-icon *ngIf="room.password">lock</mat-icon>
        <mat-icon *ngIf="!room.password">lock_open</mat-icon>
      </td>
    </ng-container>

    <ng-container matColumnDef="join">
      <th mat-header-cell *matHeaderCellDef class="center-text">JOIN</th>
      <td mat-cell *matCellDef="let room" class="short center-text">
        <button mat-raised-button color="primary" (click)="joinRoom(room)">
          JOIN
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
