<div class="flexbox">
  <form
    class="form"
    [formGroup]="registerForm"
    (ngSubmit)="register()"
    *ngIf="this.registerForm"
  >
    <h1 class="center-text">Register</h1>
    <div class="break"></div>

    <mat-form-field class="wide" appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email" />
      <mat-error *ngIf="errorControl?.['email']?.errors?.['required']">
        Please enter an email.
      </mat-error>
      <mat-error *ngIf="errorControl?.['email']?.errors?.['email']">
        Please enter a valid email.
      </mat-error>
    </mat-form-field>

    <div class="break"></div>

    <mat-form-field class="wide" appearance="fill">
      <mat-label>Username</mat-label>
      <input matInput formControlName="username" />
      <mat-error *ngIf="errorControl?.['username']?.errors?.['required']">
        Please enter a username.
      </mat-error>
    </mat-form-field>

    <div class="break"></div>

    <mat-form-field class="wide" appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" />
      <mat-error *ngIf="errorControl?.['password']?.errors?.['required']">
        Please enter a password.
      </mat-error>
    </mat-form-field>

    <div class="break"></div>

    <mat-form-field class="wide" appearance="fill">
      <mat-label>Repeat password</mat-label>
      <input matInput type="password" formControlName="repeat" />
      <mat-error *ngIf="errorControl?.['repeat']?.errors?.['required']">
        Please re-enter your password.
      </mat-error>
    </mat-form-field>
    <div class="mat-error ng-tns-c68-4 ng-star-inserted" *ngIf="error">
      {{ error }}
    </div>

    <div class="break"></div>

    <div class="flexbox">
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!registerForm.valid"
      >
        REGISTER
      </button>

      <div class="break"></div>

      <p>Have an account? Log in <a routerLink="/login">here</a>.</p>
    </div>
  </form>
</div>
