<div>
  <div class="flexbox padding">
    <div class="tile board p3 s1">
      <div class="piece p3 1" (click)="move($event)"></div>
    </div>
    <div class="tile board p3 s2">
      <div class="piece p3 2" (click)="move($event)"></div>
    </div>
    <div class="tile"></div>
    <div class="tile board 0"></div>
    <div class="tile board 1"></div>
    <div class="tile board 2"></div>
    <div class="tile board 3"></div>
    <div class="tile board 4">
      <div class="circle p2"></div>
    </div>
    <div class="tile"></div>
    <div class="tile board p2 s1">
      <div class="piece p2 1" (click)="move($event)"></div>
    </div>
    <div class="tile board p2 s2">
      <div class="piece p2 2" (click)="move($event)"></div>
    </div>
  </div>

  <div class="flexbox">
    <div class="tile board p3 s3">
      <div class="piece p3 3" (click)="move($event)"></div>
    </div>
    <div class="tile board p3 s4">
      <div class="piece p3 4" (click)="move($event)"></div>
    </div>
    <div class="tile"></div>
    <div class="tile board 39"></div>
    <div class="tile"></div>
    <div class="tile board p2w1">
      <div class="circle p2"></div>
    </div>
    <div class="tile"></div>
    <div class="tile board 5"></div>
    <div class="tile"></div>
    <div class="tile board p2 s3">
      <div class="piece p2 3" (click)="move($event)"></div>
    </div>
    <div class="tile board p2 s4">
      <div class="piece p2 4" (click)="move($event)"></div>
    </div>
  </div>

  <div class="flexbox">
    <div class="tile board 38"></div>
    <div class="tile"></div>
    <div class="tile board p2w2">
      <div class="circle p2"></div>
    </div>
    <div class="tile"></div>
    <div class="tile board 6"></div>
  </div>

  <div class="flexbox">
    <div class="tile board 34">
      <div class="circle p3"></div>
    </div>
    <div class="tile board 35"></div>
    <div class="tile board 36"></div>
    <div class="tile board 37"></div>
    <div class="tile"></div>
    <div class="tile board p2w3">
      <div class="circle p2"></div>
    </div>
    <div class="tile"></div>
    <div class="tile board 7"></div>
    <div class="tile board 8"></div>
    <div class="tile board 9"></div>
    <div class="tile board 10"></div>
  </div>

  <div class="flexbox">
    <div class="tile board 33"></div>
    <div class="tile"></div>
    <div class="tile"></div>
    <div class="tile"></div>
    <div class="tile"></div>
    <div class="tile board p2w4">
      <div class="circle p2"></div>
    </div>
    <div class="tile"></div>
    <div class="tile"></div>
    <div class="tile"></div>
    <div class="tile"></div>
    <div class="tile board 11"></div>
  </div>

  <div class="flexbox">
    <div class="tile board 32"></div>
    <div class="tile board p3w1">
      <div class="circle p3"></div>
    </div>
    <div class="tile board p3w2">
      <div class="circle p3"></div>
    </div>
    <div class="tile board p3w3">
      <div class="circle p3"></div>
    </div>
    <div class="tile board p3w4">
      <div class="circle p3"></div>
    </div>
    <div class="tile"></div>
    <div class="tile board p4w4"><div class="circle p4"></div></div>
    <div class="tile board p4w3"><div class="circle p4"></div></div>
    <div class="tile board p4w2"><div class="circle p4"></div></div>
    <div class="tile board p4w1"><div class="circle p4"></div></div>
    <div class="tile board 12"></div>
  </div>

  <div class="flexbox">
    <div class="tile board 31"></div>
    <div class="tile"></div>
    <div class="tile"></div>
    <div class="tile"></div>
    <div class="tile"></div>
    <div class="tile board p1w4">
      <div class="circle p1"></div>
    </div>
    <div class="tile"></div>
    <div class="tile"></div>
    <div class="tile"></div>
    <div class="tile"></div>
    <div class="tile board 13"></div>
  </div>

  <div class="flexbox">
    <div class="tile board 30"></div>
    <div class="tile board 29"></div>
    <div class="tile board 28"></div>
    <div class="tile board 27"></div>
    <div class="tile"></div>
    <div class="tile board p1w3">
      <div class="circle p1"></div>
    </div>
    <div class="tile"></div>
    <div class="tile board 17"></div>
    <div class="tile board 16"></div>
    <div class="tile board 15"></div>
    <div class="tile board 14">
      <div class="circle p4"></div>
    </div>
  </div>

  <div class="flexbox">
    <div class="tile board 26"></div>
    <div class="tile"></div>
    <div class="tile board p1w2">
      <div class="circle p1"></div>
    </div>
    <div class="tile"></div>
    <div class="tile board 18"></div>
  </div>

  <div class="flexbox">
    <div class="tile board p1 s1">
      <div class="piece p1 1" (click)="move($event)"></div>
    </div>
    <div class="tile board p1 s2">
      <div class="piece p1 2" (click)="move($event)"></div>
    </div>
    <div class="tile"></div>
    <div class="tile board 25"></div>
    <div class="tile"></div>
    <div class="tile board p1w1">
      <div class="circle p1"></div>
    </div>
    <div class="tile"></div>
    <div class="tile board 19"></div>
    <div class="tile"></div>
    <div class="tile board p4 s1">
      <div class="piece p4 1" (click)="move($event)"></div>
    </div>
    <div class="tile board p4 s2">
      <div class="piece p4 2" (click)="move($event)"></div>
    </div>
  </div>

  <div class="flexbox">
    <div class="tile board p1 s3">
      <div class="piece p1 3" (click)="move($event)"></div>
    </div>
    <div class="tile board p1 s4">
      <div class="piece p1 4" (click)="move($event)"></div>
    </div>
    <div class="tile"></div>
    <div class="tile board 24">
      <div class="circle p1"></div>
    </div>
    <div class="tile board 23"></div>
    <div class="tile board 22"></div>
    <div class="tile board 21"></div>
    <div class="tile board 20"></div>
    <div class="tile"></div>
    <div class="tile board p4 s3">
      <div class="piece p4 3" (click)="move($event)"></div>
    </div>
    <div class="tile board p4 s4">
      <div class="piece p4 4" (click)="move($event)"></div>
    </div>
  </div>
</div>
