<div class="flexbox" *ngIf="!isLoading">
  <h1>Lobby</h1>
  <div class="break"></div>

  <div class="margin half-width">
    <h3 class="center-text">Players</h3>
    <div class="break"></div>

    <table
      mat-table
      [dataSource]="dataSource"
      class="mat-elevation-z8 table margin"
    >
      <button mat-raised-button color="primary">Primary</button>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef class="center-text">
          Player name
        </th>
        <td mat-cell *matCellDef="let element" class="auto">
          <mat-icon *ngIf="element.player.id === this.room.admin!.id"
            >star</mat-icon
          >
          {{ element.player.nickname }}
        </td>
      </ng-container>

      <ng-container matColumnDef="kick">
        <th mat-header-cell *matHeaderCellDef class="center-text">KICK</th>
        <td mat-cell *matCellDef="let element" class="short center-text">
          <button
            mat-raised-button
            color="warn"
            (click)="kickPlayer(element.player)"
            [disabled]="this.userId !== this.room.admin!.id"
            *ngIf="
              this.userId === this.room.admin!.id &&
              this.userId !== element.player.id
            "
          >
            KICK
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>

  <div class="margin half-width">
    <h3 class="center-text">Settings</h3>
    <form
      class="form"
      [formGroup]="roomForm"
      (ngSubmit)="updateRoom()"
      *ngIf="roomForm"
    >
      <mat-form-field class="wide" appearance="fill">
        <mat-label>Room title</mat-label>
        <input
          matInput
          placeholder="Example Best drawers only!!"
          formControlName="title"
        />
        <mat-error *ngIf="errorControl?.['title']?.errors?.['required']">
          Please enter a title.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="wide" appearance="fill">
        <mat-label>Room password</mat-label>
        <input matInput formControlName="password" type="password" />
      </mat-form-field>

      <div class="flexbox">
        <button
          mat-raised-button
          type="button"
          color="primary"
          class="margin-right"
          [disabled]="this.userId !== this.room.admin!.id"
          (click)="startGame()"
        >
          START
        </button>
        <button
          mat-raised-button
          color="accent"
          type="submit"
          class="margin-right"
          [disabled]="!roomForm.valid"
        >
          UPDATE
        </button>
        <button
          mat-raised-button
          color="warn"
          type="button"
          (click)="leaveRoom()"
        >
          LEAVE
        </button>
      </div>
    </form>
  </div>
</div>
