.table {
  width: 100%;
}

.half-width {
  width: 30%;
}

.short {
  width: 7rem;
}

.center-text {
  text-align: center;
}

.margin-right {
  margin-right: 1rem;
}

.mat-icon {
  vertical-align: middle;
}
