/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  margin: 0;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.flexbox {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.break {
  height: 0;
  flex-basis: 100%;
  margin-bottom: 10px;
}

.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.wide {
  width: 100%;
}

.center-text {
  text-align: center;
}

.margin {
  margin: 0 1rem 0 1rem;
}
